[submodule "Libraries/dnlib"]
	path = Libraries/dnlib
	url = https://github.com/0xd4d/dnlib.git
	branch = v3.0
[submodule "Libraries/clrmd"]
	path = Libraries/clrmd
	url = https://github.com/Microsoft/clrmd.git
[submodule "Libraries/FastWin32"]
	path = Libraries/FastWin32
	url = https://github.com/2365103939/FastWin32.git
